   body{
       background-color: darkgreen;
   }
   .header{
       background-color: white;
       text-align: center;
       height: 50px;
       

   }
   .main_content{
       background-color:darkgreen;
   }
  
   img{
height: 300px;
width: 300px;
object-fit: cover;
image-rendering: crisp-edges;
   }
   .band_members{
       background-color:darkgreen;
       color:darkblue;
   }
   .members#band_member{
       background-color: green;
   }
   .member{
       background-color:darkgreen;
       padding: 5px;
       margin: 10px;
   }
   .song container#fav_songs{
       border-radius: 10px 50px 50px 10px;
       float: left;
   }
   #p_songs{
       font-size: 35px;
       text-align: left;
       color: black;
   }
   .ul{
       list-style-type: square;ss

   }
  ol.album_li{
      color: slateblue;
  }